<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Monitoring Suhu Pasien</ion-title>
    <ion-buttons slot="end">
      <ion-button slot="icon-only" (click)="presentAlert()">
        <ion-icon name="exit"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let pasien of pasiens" [routerLink]="['./', pasien.id_pasien]">
      <ion-thumbnail slot="start">
        <ion-img [src]="pasien.imageUrl"></ion-img>
      </ion-thumbnail>
      <div *ngIf="pasien.suhu_badan > 37.5">
        <ion-label color="warning">
          <h1>{{ pasien.nama_pasien }}</h1>
          <h3>R.{{ pasien.ruangan_perawatan }}</h3>
        </ion-label>
      </div>
      <div *ngIf="pasien.suhu_badan <= 37.5">
        <ion-label color="success">
          <h1>{{ pasien.nama_pasien }}</h1>
          <h3>R.{{ pasien.ruangan_perawatan }}</h3>
        </ion-label>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
