<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Informasi Pasien</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let pasien of pasiens" [routerLink]="['./', pasien.id_pasien]">
      <ion-thumbnail slot="start">
        <ion-img [src]="pasien.imageUrl"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h1>{{ pasien.nama_pasien }}</h1>
        <h3>R.{{ pasien.ruangan_perawatan }}</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
