<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/pasien/tab/informasi"></ion-back-button>
    </ion-buttons>

    <ion-title>{{loadedPasien.nama_pasien}}'s Info</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-img [src]="loadedPasien.imageUrl"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h1>{{ loadedPasien.nama_pasien }}</h1>
        <h3>R.{{ loadedPasien.ruangan_perawatan }}</h3>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>TTL : {{loadedPasien.tempat_lahir}}, {{loadedPasien.tanggal_lahir}}</ion-label>
    </ion-item>

    <ion-item> <!-- Masi Manual -->
      <ion-label>RUMAH SAKIT : Rumah Sakit Karya Bakti</ion-label>
    </ion-item>

    <ion-item> <!-- Masi Manual dimulai dari models sampe service -->
      <ion-label>DOKTER : {{loadedPasien.nama_dokter}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>NO BPJS : {{loadedPasien.no_bpjs_pasien}}</ion-label>
    </ion-item>

  </ion-list>
</ion-content>

<ion-footer (click)="presentAlert()">
  <ion-toolbar color="secondary">
    <ion-title class="ion-text-center">Transfer Pasien</ion-title>
  </ion-toolbar>
</ion-footer>
