<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/pasien/tab/monitor"></ion-back-button>
    </ion-buttons>
    <ion-title>{{loadedPasien.nama_pasien}}'s Temperature</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-thumbnail slot="start">
        <ion-img [src]="loadedPasien.imageUrl"></ion-img>
      </ion-thumbnail>
      <ion-label>
        <h1>{{ loadedPasien.nama_pasien }}</h1>
        <h3>R.{{ loadedPasien.ruangan_perawatan }}</h3>
      </ion-label>
    </ion-item>

    <ion-row>
      <ion-col offset="0.9">
        <img src="../../../../assets/red_heart.png" height="252" width="298"/>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col offset="5.2">
        <!-- Data dari Service Pasien, Belum bisa random suhu and then belum alert kalo lewat 37.2°C -->
        <b>{{loadedPasien.suhu_badan}}°C</b>
      </ion-col>
    </ion-row>



  </ion-list>
</ion-content>
